body{
    padding:0;
    margin:0;
    font-size:14px;
    font-family:Verdana, Arial, sans-serif;
    line-height:1.61;
    color:#333;
}
video {
    width: 100%    !important;
    height: auto   !important;
}
.wrapper{
    width:100%;
}
p{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
@media (min-width:768px){
    .wrapper{
        width:768px;
        margin:0 auto;
    }
    p{
        width:100%;
    }
}